* {
  box-sizing: border-box;
}
html, body {
  height: 100vh;
    width: 100vw;
  margin: 0;
  padding: 0;
  background-color: slategrey;
}

.container {
  height: 100vh;
  width: 100vw;
    overflow: hidden; /* prevent accidental overflow */

}

ul{
    padding: 0;
    margin: 0;
    font-size: medium;
    
}
li{
    list-style-type: none;
}
aside{
    background-color: rgb(0, 174, 255);
    height: 100vh;
    color: aliceblue;
    display: grid;
    padding: 10px;
    grid-column-start: 1;
  grid-column-end: 2;
   grid-row-start: 1;
  grid-row-end: 3; 
  justify-content: center;
}
aside li{

    display: flex;
  align-items: center;
    margin: 30px;
font-size: 30px;
gap: 15px;
font-weight: bolder;
}
aside svg{
      fill: #ffffff;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;

}
.container h1{
    margin: 0;
}
header{
        box-sizing: border-box;
    grid-column-start: 2;
  grid-column-end: 3;
grid-row-start: 1;
  grid-row-end: 2; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
    background-color: white;
    gap: 50px;

}
main{
    box-sizing: border-box;
    grid-column-start: 2;
  grid-column-end: 3;
   grid-row-start: 2;
  grid-row-end: 3; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    height: 70vh;

}
svg{
    width: 2.5rem;
    height: 2.5rem;
    
}
 .cat2{
    width: 5rem;
    height: 5rem;
}
.searchBar{
   display: flex;
    gap: 10px;
    margin: 2vh;
}
input{
    width: 20vw;
    height: 2rem;
    border-radius: 5px;    
}
.nav{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 8vw;
    margin-top: 2vh;
}
p{
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}
.user{
    display: flex;
}
button{
   
    background-color: rgb(0, 174, 255);
    color: white;
    border: none;
    border-radius: 15px;
    width: 7vw;
    height: 5vh;
}
.nav2{
    width: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.proyects{
     grid-column-start: 1;
  grid-column-end: 2;
   grid-row-start: 2;
  grid-row-end: 4; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin: 20px;
    margin-top: 0;
    
}
.proyect{
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    border-left: 5px solid yellow;
    border-radius: 15px;
    text-align: center;
    
}
.announs{
     grid-column-start: 2;
  grid-column-end: 3;
   grid-row-start: 2;
  grid-row-end: 3; 
background-color: rgb(255, 255, 255);
    border-radius: 15px;
     display: grid;
    text-align: center;
     height: 28vh;
    width: 28vh;
    justify-self: center;
}

.announ:not(:last-child){

    border-bottom: 1px solid black;

}
.trending{
     grid-column-start: 2;
  grid-column-end: 3;
   grid-row-start: 3;
  grid-row-end: 4; 
}
.trending h2{
    margin: 0;
}
.titleP{
    margin-left: 30px;
    margin-bottom: 5px;
    align-self: flex-end;
     grid-column-start: 1;
  grid-column-end: 2;
   grid-row-start: 1;
  grid-row-end: 1; 

}
    .titleA{
    justify-self: center;
    position: relative;
    right: 3vw;
    margin-bottom: 5px;
    grid-column-start: 2;
  grid-column-end: 3;
   grid-row-start: 1;
  grid-row-end: 1; 
}
.trending {
    justify-self: center;
    display: grid;
    margin: 20px;
    margin-top: 0;
}

.users{
    background-color: white;
    border-radius: 15px;
    height: 28vh;
    width: 28vh;
    display: grid;

    text-align: center;
    justify-content: stretch;
  

}
.users div{

     display: flex;
     justify-content: center;
  align-items: center;
  gap: 5px 10px;
}
.users svg{
    height: 3rem;
    width: 3rem;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.user-info .username{
align-self: start;

}
.users2:not(:last-child){

    border-bottom: 1px solid black;

}
.announ h3{
    margin: 0;
    font-size: 20px;
}
.announ p{
    margin: 10px;
    margin-top: 0;
    text-wrap: wrap;
    text-justify: inter-auto;
    font-size: 16px;
    font-weight: 100;
}
.proyects p {
    margin: 10px;
    margin-top: 0;
    text-wrap: wrap;
    text-justify: inter-auto;
    font-size: 18px;
    font-weight: 100;
}
.buttons3{
    display: flex;
    justify-self:end;
    margin-top: 3vh;
    margin-right: 3vh;
    gap: 3vh;
}
h1{
    font-size: 3rem;
}
.dash{
    display: flex;
    justify-content: center;
  align-items: start;
  gap: 15px;
}
.dash svg{
    height: 3.2rem;
        width: 3.2rem;

}
